:root {
  --verde-oliva-escuro: #606C38;
  --verde-escuro: #283618;
  --creme-claro: #FEFAE0;
  --amarelo-mostarda: #DDA15E;
  --marrom: #BC6C25;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--verde-oliva-escuro);
  color: var(--creme-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  margin-bottom: 20px;
}

h1 {
  color: var(--amarelo-mostarda);
  font-size: 2.5rem;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.btn-voltar {
  background-color: var(--marrom);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--creme-claro);
}

.btn-add {
  background-color: var(--amarelo-mostarda);
  font-size: 1.2rem;
  padding: 15px 25px;
  margin-top: 20px;
}

.btn-add-product,
.btn-update-product {
  background-color: var(--marrom);
}

.btn-cancel {
  background-color: var(--marrom);
}

.btn-update {
  background-color: var(--amarelo-mostarda);
  color: var(--creme-claro);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background-color: var(--marrom);
  color: var(--creme-claro);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.btn-update:hover {
  background-color: var(--verde-escuro);
}

.btn-delete:hover {
  background-color: #ff4c4c;
}

#produtosContainer {
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--creme-claro);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--verde-oliva-escuro);
}

th {
  background-color: var(--verde-escuro);
  color: var(--creme-claro);
}

td {
  color: var(--verde-escuro);
}

tr:hover {
  background-color: var(--amarelo-mostarda);
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  .btn-add {
    width: 100%;
  }

  #produtosContainer {
    width: 90%;
  }

  table {
    font-size: 14px;
  }
}